<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Google Fonts -->
    <!-- Swap out "Roboto" for the font(s) you want to use -->
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900|Roboto&display=swap" rel="stylesheet">
    
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css" crossorigin="anonymous">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    
    <!-- Your own CSS -->
    <link rel="stylesheet" href="/styles.css">

    <title>News</title>
  </head>
  <body>


  <!-- # Header with date and time (my local and source) -->
    <div class="container mt-5">
      <h5><%= Time.at(@forecast["current"]["dt"]).getlocal('-05:00').strftime("%A,  %B %e, %Y") %></h5>
      <p><%= Time.at(@current_time).getlocal('-05:00').strftime("%l:%M %p %Z") %></p>
      <p><%= Time.at(@current_time).strftime("%l:%M %p %Z") %></p>
      <hr class="my-4">
    </div>
 
  <!-- # Current weather -->
    <div class="container mt-5">
      <h1>Weather</h1>
      <h2>The current weather is: <%= @current_forecast %></h2>
    </div>

    <div class= "container">
      <div class="row">
        <div class="col-lg">
        <!-- # Hourly forecast -->
          <div class="container-responsive">
            <h4>12-Hour Forecast</h4>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Hour</th>
                  <th scope="col">Day</th>
                  <th scope="col"></th>
                  <th scope="col">Temp.</th>
                  <th scope="col">Feels Like.</th>
                  <th scope="col">Description</th>
                </tr>
              </thead>
              <tbody>
                <% for hourly in @forecast["hourly"][1, 12] %>
                  <tr>
                    <td><%= Time.at(hourly["dt"]).getlocal('-05:00').strftime("%I %P")%></td>
                    <td><%= Time.at(hourly["dt"]).getlocal('-05:00').strftime("%a")%></td>
                    <td><img class="image-fluid" src="/images/<%= hourly["weather"][0]["icon"] %>.png"></td>
                    <td><%= "#{hourly["temp"].round()}"%></td>
                    <td><%= "#{hourly["feels_like"].round()}"%></td>
                    <td><%= "#{hourly["weather"][0]["description"]}" %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>  
          </div>
        </div>
     
        <div class="col-lg">
        <!-- # Extended forecast -->
          <div class="container-responsive">
            <h4>7-Day Extended Forecast</h4>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Day</th>
                  <th scope="col">Date</th>
                  <th scope="col"></th>
                  <th scope="col">Max. Temp.</th>
                  <th scope="col">Min. Temp.</th>
                  <th scope="col">Description</th>
                </tr>
              </thead>
              <tbody>
                <% for day in @forecast["daily"][1, 7] %>
                  <tr>
                    <td><%= Time.at(day["dt"]).strftime("%a")%></td>
                    <td><%= Time.at(day["dt"]).strftime("%B %e")%></td>
                    <td><img class="image-fluid" src="/images/<%= day["weather"][0]["icon"] %>.png"></td>
                    <td><%= "#{day["temp"]["max"].round()}"%></td>
                    <td><%= "#{day["temp"]["min"].round()}"%></td>
                    <td><%= "#{day["weather"][0]["description"]}" %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        <div>
      </div>    
    </div>

    <div class="container-fluid">
      <hr class="my-4">
      <h1>News - Top Headlines</h1>
      <h6><%= "#{@news["totalResults"]}" %> total results</h6>
      <h5>  
        <% for headlines in @news["articles"] %>
          <h5><a href= <%= "#{headlines["url"]}" %>><%= "#{headlines["title"]}" %></a></h5>
          <p><%= "#{headlines["description"]}" %> - Author: <%= "#{headlines["author"]}" %></p>
        <% end %>
      </h5>
    </div>

    <div class="container-fluid">
      <hr class="my-4">
      <h6>Weather provided by <a href="https://openweathermap.org/api/one-call-api">OpenWeather</a>.</h6>
      <h6>News provided by <a href="https://newsapi.org/">NewsAPI</a>.</h6>
    </div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>