<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Google Fonts -->
    <!-- Swap out "Roboto" for the font(s) you want to use -->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css" crossorigin="anonymous">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    
    <!-- Your own CSS -->
    <link rel="stylesheet" href="/styles.css">

    <title>News</title>
  </head>
  <body>

    <div class="container mt-5">
    <h6><%= Time.now().strftime("%B %e, %Y") %></h6>
    </div>
    <div class="container mt-5">
      <h1>Weather</h1>
      <h2>The current weather is: <%= @current_forecast %></h2>
      <p> </p>
      <h4>Extended Forecast</h4>
      
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Day</th>
            <th scope="col">Date</th>
            <th scope="col"></th>
            <th scope="col">Max. Temp.</th>
            <th scope="col">Min. Temp.</th>
            <th scope="col">Description</th>
          </tr>
        </thead>
        <tbody>
          <% for day in @forecast["daily"] %>
            <tr>
              <td><%= Time.at(day["dt"]).strftime("%A")%></td>
              <td><%= Time.at(day["dt"]).strftime("%B %e, %Y")%></td>
              <td><img src="/images/<%= day["weather"][0]["icon"] %>.png"></td>
              <td><%= "#{day["temp"]["max"].round()}"%></td>
              <td><%= "#{day["temp"]["min"].round()}"%></td>
              <td><%= "#{day["weather"][0]["description"]}" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      
    </div>

    <div class="container mt-5">
      <h1>News - Top Headlines</h1>
      <h6><%= "#{@news["totalResults"]}" %> total results</h6>
      <h5>  
        <% for headlines in @news["articles"] %>
          <h5><a href= <%= "#{headlines["url"]}" %>><%= "#{headlines["title"]}" %></a></h5>
          <p><%= "#{headlines["description"]}" %> - Author: <%= "#{headlines["author"]}" %></p>
        <% end %>
      </h5>

    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>